<div class="options-wrapper d-flex justify-content-center">
    <form class="col-8">
        <div class="form-group">
          <label for="asd">Compaired pair</label>
          <select id="asd" class="form-control form-control-sm">
            <option class="option red">Red</option>
            <option class="option green">Green select</option>
            <option class="option yellow">Yellow select</option>
          </select>
        </div>
        <custom-select></custom-select>
      </form>
</div>