<div class="options-wrapper d-flex justify-content-center">
    <form class="col-8">
        <div class="form-group">
          <label for="asd">Compaired pair</label>
          <select id="asd" class="form-control form-control-sm">
            <option class="option red">Red</option>
            <option class="option green">Green select</option>
            <option class="option yellow">Yellow select</option>
          </select>
        </div>
        <div class="my-select" tabindex="-1" (mouseleave)="hideDropdown(options)" #options>
            <div class="selected-option d-flex align-items-center">{{selectedValue}} <div class="img ml-auto"></div></div>
            
            <div class="options-container" >
                <div class="my-option" (click)="selectColor('Value1')">Value1</div>
                <div class="my-option" (click)="selectColor('Value2')">Value2</div>
                <div class="my-option" (click)="selectColor('Value3')">Value3</div>
                <div class="my-option" (click)="selectColor('Value4')">Value4</div>
            </div>
        </div>
      </form>
</div>