.azure{
    background-color: #66ffff !important;
}

.black{
    background-color: black !important;
}

.blue{
    background-color: #1E90FF !important;
}

.dark-red{
    background-color: #8B0000 !important;
}

.dark-green{
    background-color: #006400 !important;
}

.dark-blue{
    background-color: #00008B !important;
}

.green{
    background-color: #228B22 !important;
}

.gray{
    background-color: #D3D3D3 !important;
}

.lime{
    background-color: #00FF00 !important;
}

.orange{
    background-color: #FFA500 !important;
}

.pink{
    background-color: #FFC0CB !important;
}

.purple{
    background-color: #663399 !important;
}

.red{
    background-color: #DC143C !important;
}

.yellow{
    background-color: #FFD700 !important;
}

