// selection sort colors
$swapIndexColor: #0099ff !important;
$smallestNumberColor:  #99cc00 !important;

//quick sort colors
$pivotColor: #663399 !important;
$endOfSmallerNumbersIndexColor: #1E90FF !important;