.rnd {
   background-color: yellow;
   &::after {
      content: "pivot";
   }
}

.swapIndex:after {
   content: "";
   position: absolute;
   height: 4px;
   width: 100%;
   bottom: -4px;
   background-color: #0099ff !important;
}

.smallestNumber:before {
   content: "";
   position: absolute;
   height: 4px;
   width: 100%;
   top: -4px;
   background-color: #99cc00 !important;
}
