<div class="options-wrapper d-flex flex-column justify-content-center">
  <div class="col-12">
    <div class="font-weight-bold mt-3">Selection sort</div>
    <div class="ml-2">With
      <span class="smallestNumberIndicator"></span>
      is indicated the smallest number currently found!
    </div>
    <div class="ml-2">With
      <span class="swapIndexIndicator"></span>
      is indicated the swap index!
    </div>
    <div class="font-weight-bold mt-3">Quick sort</div>
    <div class="ml-2">With
      <span class="pivotIndicator"></span>
      is indicated the pivot index!
    </div>
    <div class="ml-2">With
      <span class="endOfSmallerNumbersIndexIndicator"></span>
      is indicated the index after the smallest!
    </div>

    <div class="font-weight-bold mt-3">Learn more here</div>
    <p>For Bubble sort please click <a href="https://www.youtube.com/watch?v=xli_FI7CuzA" target="_blank">here!</a></p>
    <p>For Selection sort please click <a href="https://www.youtube.com/watch?v=g-PGLbMth_g" target="_blank">here!</a></p>
    <p>For Quick sort please click <a href="https://www.youtube.com/watch?v=Hoixgm4-P4M" target="_blank">here!</a></p>
  </div>
</div>